/backups/
/elpa/
/auto-save-list/
/recentf
/eshell/
/network-security.data
/projectile-bookmarks.eld
/magithub
/server/
/forge-database.sqlite
/transient/
/.cache/
/.#recentf
/projects
/.lsp-session-*
/.undo-tree/*
/eln-cache/
